.wrapper{
    padding: 15px 30px;
}

.main{
    font-family: 'Montserrat', sans-serif;
    color: blue;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.search-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 100px;
}

.input-movie{
    padding-bottom: 15px;
    width: 300px;
    text-align: center;
    padding:5px;
}

.search-btn{
    height: 50px;
    width: 150px;
    border-radius: 20%;
    margin-top: 15px;
    background-color: snow;
}

.fav-movie{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 100px;
}

.favorite-color{
    background-color: red;
}

.list-movies{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.img-show{
    padding:15px;
}

.show{
    text-align: center;
}


