.wrapper{
    padding: 30px;
}

.main{
    font-family: 'Righteous', cursive;
    color: maroon;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.input-movie{
    padding-bottom: 15px;
    width: 700px;
    height: 50px;
    text-align: center;
    padding:5px;
    border: 2px solid maroon;
    border-radius: 25px;

}

.main-title{
    font-size: 70px;
}

.search-btn{
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin-top: 15px;
    background-color: snow;
	color: inherit;
	border: none;
    font: inherit;
    border: 2px solid maroon;
}

.search-btn:hover{
    color:blue;
    background-color: maroon;
}


.fav-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-top: 100px;
    text-align: center;
}

.favorite-color{
    background-color:white;
}

.list-movies{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.img-show{
    padding:15px;
    width: 250px;
    height: 300px;
}

.img-favorite-show{
    width: 95px;
    height: 100px;
    margin-top: 10px;
}

.name-favorite-show{
    text-align: center;
    font-size: 13px;
}

.show{
    text-align: center;
}


.magnify{
    padding-left: 5px;
}

.tv{
    padding-left: 15px;
}

.show-name{
    font-family: 'Righteous', cursive;
    font-weight: 200;
}

.hidden{
    display: none;
}

.remove-btn{
    margin-top: 5px;
    width: 100px;
    height: 50px;
}


